<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Feature request app</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
{{#unless isDevelopment}}
  <link rel=stylesheet" href="{{assetPath}}bundle.css">
{{/unless}}
</head>
<body>
  {{{body}}}
  <script src="{{assetPath}}bundle.js" async></script>
</body>
